.principal {
    &_seccion1 {
        @include centrado();
        z-index: 10;

        .caja__fila {
            height: 77vh;
            max-height: 77vh;
        }

        #fondo {
            background: url('../images/index/muffins.jpg') no-repeat center 75%/cover;
            filter: blur(5px);
            z-index: -5;
            height: 77vh;
            max-height: 77vh;
            position: absolute;
            margin: 0;
            left: 0;
            top: 50;
        }
    }


    &_seccion2 {
        @include centrado();
        height: 25vh;
        max-height: 25vh;

        h3 {
            padding-bottom: 20px;
        }

        h4 {
            padding-bottom: 10px;
        }
    }

    &_seccion3 {
        @include centradoIndex();
    }

    &_seccion4 {
        @include centradoIndex();
        margin-top: 5px;
    }
}