.principalTienda {
    #textoTienda {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: $bg2;

        h1 {
            padding: 5px;
            margin: 0;
        }
    }

    .caja {
        margin: 10px 0;

        &__fila {
            margin: 0;
            justify-content: space-around;

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &__fila2 {
            &__columna {
                display: flex;
                justify-content: flex-end;

                button:first-child {
                    margin-right: 10px;
                }
                button:last-child {
                    padding: 5px 95px;
                }
            }
        }
    }
}

@media only screen and (min-width:1200px) {
    #textoCarta {
        height: 22vh;
    }
}
@media only screen and (max-width:1199px) {
    #textoCarta {
        height: 17vh;
    }
}
@media only screen and (max-width:480px) {
    #textoCarta {
        height: 22vh;
    }
}
@media only screen and (max-width:375px) {
    #textoCarta {
        height: 24vh;
    }
}