.principalTienda {
    #textoTienda {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: $bg2;

        h1 {
            padding: 5px;
            margin: 0;
        }
    }

    .caja {
        margin: 10px 0;

        &__fila {
            margin: 0;
            justify-content: space-around;

            .card-body {
                display: flex;
                flex-direction: column;
            }

            #textoCarta {
                height: 20vh;
                p {
                    height: 10vh;
                }
            }
        }

        &__fila2 {
            &__columna {
                display: flex;
                justify-content: flex-end;

                button:first-child {
                    margin-right: 10px;
                }
                button:last-child {
                    padding: 5px 95px;
                }
            }
        }
    }
}